<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Complete Test Suite" parallel="classes" thread-count="4">

    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    </listeners>

    <test name="BackEnd Tests">
        <packages>
            <package name="backEnd.tests"/>
        </packages>
    </test>

    <test name="FrontEnd Tests">
        <packages>
            <package name="frontend.tests"/>
        </packages>
    </test>

</suite>