<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" packages="utils">
    <Appenders>

        <Console name="ConsoleAppender" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss} [%t] %-5level - %msg%n"/>
        </Console>

        <AllureAppender name="AllureAppender">
            <PatternLayout pattern="%-5level - %msg"/>
        </AllureAppender>

    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="ConsoleAppender"/>
            <AppenderRef ref="AllureAppender"/>
        </Root>
    </Loggers>
</Configuration>
