name: Java CI (Maven + TestNG)

on:
  push:
    branches: [ "feature/first-branch" ]
  pull_request:
    branches: [ "feature/first-branch" ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '17'
          cache: maven

      - name: Run tests (headless)
        run: mvn -B -Dheadless=true clean test
